/* .add-header {
} */
.input {
    height: 25px;
    width: 100%;
    color: white;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}
.btn {
    height: 30px;
    width: 60px;
    margin: 10px 0px 10px 0px;
    color: rgb(130, 130, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(130, 130, 255);
    border-radius: 4px;
    cursor: pointer;
}